<h1>Index</h1>
<h3>Cookie oluşturuldu.Sonuçları görmek için Coki sayfasına gidin...</h3>
<br /><br />
<a class=" btn  btn success"  asp-action="cerez" asp-controller="Cerez">Cerez sayfasına gitmek için tıklayınız</a>